.footer{
    padding: 15px;
    border: 1px solid #0000003b;
    text-align: center;
    background-color: #d3d3d3b5;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}