<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;300;200&display=swap" rel="stylesheet">
<div class="ques">
    <div class="q1">
        <h3>which material  is used tocollect accidental release on the ground </h3>
        <div class="ans1">
            <label><input type="radio" name="answer">   Copper</label><br>
        </div>
        <div class="ans2">
            <label><input type="radio" name="answer">   Plastic Sheets</label><br>
        </div>
        <div class="ans3">
            <label><input type="radio" name="answer">   Iron</label><br>
        </div>
        <div class="ans4">
            <label><input type="radio" name="answer">   Other</label><br>
        </div>
        <div class="btn">
            <input type="button" value="Complete" class="btnn" (click) = "OnClick()">
        </div>
    </div>
</div>