<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;300;200&display=swap" rel="stylesheet">
<div class="ques">
    <div class="q1">
        <h3>what is the minimum volume of the storage bund</h3>
        <div class="ans1">
            <label><input type="radio" name="answer">   200%</label><br>
        </div>
        <div class="ans2">
            <label><input type="radio" name="answer">   180%</label><br>
        </div>
        <div class="ans3">
            <label><input type="radio" name="answer">   110%</label><br>
        </div>
        <div class="ans4">
            <label><input type="radio" name="answer">   90%</label><br>
        </div>
        <div class="btn">
            <input type="button" value="Complete" class="btnn" (click) = "OnClick()">
        </div>
    </div>
</div>